{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}

  <div class="container justify-content-center col-md-6 mt-5 pt-5 border-2">
    <h2 class="text-center">Login Form</h2>
    <form method="post" class="form-control mt-5 p-5" action="{% url 'login' %}">
      {% csrf_token %}
      {% comment %} {% bootstrap_form form %} {% endcomment %}
      {% bootstrap_field form.username show_label=False %}
      {% bootstrap_field form.password show_label=False %}
      <button type="submit" class="btn btn-success mx-auto justify-content-center text-center d-flex w-100">Login</button>
      <input type="hidden" name="next" value="{{ next }}">
      {# Assumes you setup the password_reset view in your URLconf #}
      <p class="pt-2"><a class="pt-2" href="{% url 'accounts:register' %}">Don't Have An Account?</a></p>
      <p class="pb-2"><a class="pb-2" href="{% url 'password_reset' %}">Lost password?</a></p>
    </form>
  </div>

{% endblock %}
