{% extends "base/base.html" %}
{% load bootstrap5 %}

{% block content %}

    <div class="container justify-content-center col-md-6 mt-5 pt-3 border-2 d-flex">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
              <h5 class="card-title">Password change successful</h5>
              <p class="card-text">Your password was changed.</p>
              <a href="{% url 'home' %}" class="card-link">Go Home?</a>
            </div>
        </div>
    </div>

{% endblock %}
