{% extends "base/base.html" %}
{% load bootstrap5 %}

{% block content %}

    <div class="container justify-content-center col-md-6 mt-3 pt-3 border-2 d-flex">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">Password Reset complete</h5>
                <p class="card-text">Your password has been set. You may go ahead and log in now.</p>
                <a href="{% url 'login' %}" class="card-link">Login again?</a>
            </div>
        </div>  
    </div>

{% endblock %}
